Flask-Migrate
Flask-SQLAlchemy
acme>1.4<5
boto3
cfenv
cryptography>=3.2 # pin for https://github.com/pyca/cryptography/blob/c9e65222c91df8b6f61650a3460e30232962c1e0/CHANGELOG.rst#32---2020-10-25
dnspython
environs
flask
jinja2>=2.11.3
git+git://github.com/cloud-gov/openbrokerapi@cae863a885a7d161d6870e09519330c4a0f6341d#egg=openbrokerapi
gunicorn
huey
psycopg2
redis
sqlalchemy-utils
sap-cf-logging
